name: Note Scrible

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write   # for AWS OIDC

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ---- 1. Install Python deps into root ----
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Create deployment structure
        run: |
          # Create a 'deploy' folder and the 'app' subfolder inside it
          mkdir -p deploy/app

      - name: Install dependencies
        run: |
          # Install dependencies into the 'deploy' folder 
          pip install -r requirements.txt -t deploy

          #  Install dependencies, forcing installation of pre-built wheels 
          #  compatible with Amazon Linux (Lambda's OS) for Python 3.12 (cp312).
          pip install onnxruntime==1.16.0 --platform manylinux2014_x86_64 --only-binary=:all: --target deploy

      # ---- 2. Build clean ZIP (app + JSON + deps) ----
      - name: Copy application files into deploy and ZIP
        run: |
          #copy app files to deploy folder
          cp -r app/* deploy/

          # Create final ZIP package from the 'deploy' folder
          cd deploy
          zip -r9 ../note-scribe-deploy.zip .
          cd ..
          ls -lh note-scribe-deploy.zip

      # ---- 3. Configure AWS credentials via OIDC ----
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
          aws-region: ap-south-1

      # ---- 4. Upload ZIP to S3 ----
      - name: Upload to S3
        run: |
          aws s3 cp note-scribe-deploy.zip s3://note-scribe/

      # ---- 5. Update Lambda function code ----
      - name: Update Lambda
        run: |
          aws lambda update-function-code \
            --function-name note-scribe \
            --s3-bucket note-scribe \
            --s3-key note-scribe-deploy.zip \
            --publish
